<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="UrunAgaciBaglantisi"
         connectionString="Data Source=192.168.1.144,1433;Initial Catalog=UrunAgaciDB;User ID=ADMIN;Password=1;MultipleActiveResultSets=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="TeknikResimYolu" value="C:\TeknikCizimler\" />
  </appSettings>
</configuration>